obsws-python
opencv-python
reportlab
yt-dlp
google-genai
customtkinter
pillow
numpy
websockets
flask
flask-cors
paddleocr
paddlex
paddlepaddle
requests
psutil
cryptography
pyyaml
tkcalendar
youtube-transcript-api